@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
* {
    font-family: 'Poppins', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #C9E1E8;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.greetings {
    font-size: 7.5rem;
    font-weight: 800;
    font-style: italic;
}
.greetings > span {
    color: #f0fff0ba;
    text-shadow: 0 0 12px #e7d1ff, 0 0 25px #e7d1ff, 0 0 50px #e7d1ff;
}
.description {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-size: 50pt;
}

.button1 {
    border: 1px solid #C9E1E8;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 1px 1px;
    transition-duration: 0.4s;
    background-color: transparent; /* Initially transparent */
}
.button1:hover {
    background-color: #C9E1E8;
    color: black;
}
@media screen and (max-width: 574px) {
    .greetings {
        display: block;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
    .description {
        font-size: 2rem;
    }
    .button1 {
        font-size: 0.75rem;
    }
}